.sudoku-grid {
	max-width: 568px;
	padding: 16px 0;
	border-collapse: collapse;
	margin: 2.5vh 5vw;
}

colgroup, tbody {
	border: solid medium;
}

td {
	border: solid thin;
	height: 10vw;
	width: 10vw;
	text-align: center;
	padding: 0;
}

@media (min-width: 640px) {
	.sudoku-grid {
		margin: 5vh auto;
	}

	td {
		height: 3rem;
		width: 3rem;
	}
}
