body {
	margin: 0;
	padding: 0;
}

main {
	position: relative;
}

section h3 {
	margin-top: 32px;
}

.card section:first-of-type > h3 {
	margin-top: 0;
}

a {
	text-decoration: none;
}

.drawer__menu-item:first-child {
	margin-top: 5vh;
}

.card-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	left: 50%;
	transform: translateX(-50%);
	max-width: 600px;
	width: 100vw;
}

.card__action-button {
	margin-top: 8px;
}

@media (min-width: 640px) {
	.card-wrapper {
		padding: 60px 0;
	}
}
