.page-enter {
	transition: all 225ms cubic-bezier(0.4, 0.0, 1, 1);
	z-index: 2;
	top: 100vh;
	opacity: 0.001;
}

.page-enter.page-enter-active {
	top: 0;
	opacity: 1;
}

.page-leave {
	transition: all 195ms cubic-bezier(0.0, 0.0, 0.2, 1);
	z-index: 1;
	top: 0;
	opacity: 1;
}

.page-leave.page-leave-active {
	top: -100vh;
	opacity: 0.001;
}

@media (min-width: 640px) {
	.page-enter {
		padding: 0;
	}

	.page-enter.page-enter-active {
		padding: 60px 0;
	}

	.page-leave {
		padding: 60px 0;
	}

	.page-leave.page-leave-active {
		padding: 0;
	}
}
