.page-enter {

}

.page-enter.page-enter-active {
	animation-name: page-enter;
	animation-duration: 400ms;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}

.page-leave {

}

.page-leave.page-leave-active {
	animation-name: page-leave;
	animation-duration: 400ms;
	transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}

@keyframes page-enter {
	0% {
		top: 100vh;
		opacity: 0;
	}
	43.75% {
		top: 100vh;
		opacity: 0;
	}
	100% {
		top: 0;
		opacity: 1;
	}
}

@keyframes page-leave {
	0% {
		left: 0;
		top: 0;
		opacity: 1;
	}
	48.75% {
		left: 100vw;
		opacity: 0;
	}
	100% {
		left: 100vw;
		opacity: 0;
	}
}
